@model List<bbxp.CommonLibrary.Transports.PostArchive.PostArchiveListingResponseItem>

@{
    ViewData["Title"] = "Archives";
}

<h2 class="PageTitle">Archives</h2>
<div class="PageDescription">Click on the links below to load the posts for the respective month.</div>

<div id="ArchivesContainer">
    @foreach (var item in Model) {
        <div class="Element" onclick="loadPosts('archives/@item.RelativeURL', '@item.RelativeURL.Replace("/", "").Insert(0, "#")')">
            <span class="Date">@item.DateString</span>
            <span class="Count">@item.Count @(item.Count == 1 ? "POST" : "POSTS")</span>
        </div>
        
        <div id="@item.RelativeURL.Replace("/", "")" style="display: none"></div>
    }
</div>

<script type="text/javascript">
    function loadPosts(urlPath, arg) {
        if ($(arg).css('display') == 'none') {
            $.ajax({
                url: urlPath,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                $(arg).css("display", "block");

                $(arg).html(result);
            });
        } else {
            $(arg).css("display", "none");
        }
    }
</script>