@using bbxp.lib.Transports.Posts
@model bbxp.web.Models.PostModel

    <div class="card mb-10" style="margin-top: 10px;">
        <div class="card-body bg-dark">
            <h2 class="card-title">@Model.Post.Title</h2>
            @Html.Raw(Model.Post.Body)
        </div>

        <div class="card-body bg-dark">
            <div class="row">
                <div class="col">
                    <h5>TAGS</h5>

                    @if (!Model.Post.Tags.Any())
                    {
                        <div class="notags">none on this post</div>
                    }
                    else
                    {
                        foreach (var tag in Model.Post.Tags)
                        {
                            <div class="TagContainer">
                                <a href="~/tag/@tag.URLString/">@tag.DisplayString</a>
                            </div>
                        }
                    }
                </div>
                |
                <div class="col">
                    @if (!Model.IsSinglePost)
                    {
                        <a href="~/@Model.Post.RelativeURL#disqus_thread" title="@Model.Post.Title">View/Add Comments</a>
                    }
                </div>
            </div>
        </div>

        <div class="card-footer text-muted bg-dark">
            Posted on @Model.Post.PostDate.ToString("MMM dd, yyyy")
        </div>

        @if (Model.IsSinglePost)
        {
            <div class="CommentContainer">
                <div id="disqus_thread"></div>

                <script>
                    (function () {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://jcapellman.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>

                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        }
    </div>
<br/>